@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: blanchedalmond;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: medium;
  line-height: normal;
  text-align: center;
  color: rgb(50, 20, 90);
}

ul > li {
  text-decoration: none;
}

#yoann {
  border-radius: 4%;
}

.img-head {
  border-radius: 0%;
}

headers {
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: red;
  text-decoration: none; 
}

a:hover {
  color:burlywood;
  background-color: brown;
  text-decoration: underline;
}

div {
  background-color:darkgrey;
  border-radius: 4%;
  border-top: 10px;
  border-right: 10px;
  border-bottom: 10px ;
  border-left: 10px ;
  box-shadow: black;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
